{% extends 'event/base.html' %} {% load static %} {% block content %}
<main class="p-10">
  <h1 class="text-3xl">Up coming events</h1>
  <hr class="my-5" />
  <!-- Online events -->
  <h2 class="text-2xl mb-5">Online Events</h2>
  <ul class="flex gap-5 w-full">
    {% for event in online_events %}
      {% include 'event/event_card.html' with event=event %}
    {% endfor %}
  </ul>

  <!-- Offline events -->
  <h2 class="text-2xl my-5">Nearby Events</h2>
  <ul class="flex gap-5 w-full">
    {% for event in offline_events %}
      {% include 'event/event_card.html' with event=event %}
    {% endfor %}
  </ul>
</main>
{% endblock %}
